@font-face {
	font-family: "Evolventa-Bold";
	src: url('../fonts/Evolventa-Bold.ttf');
}
@font-face {
	font-family: "Evolventa";
	src: url('../fonts/Evolventa.ttf');
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Evolventa";
	letter-spacing: 1px;
	font-size: 14px;
}
a {
	color: #000;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.container {
	max-width: 66%;
}
.flash-msg-log {
	width: 320px;
}

/*-----------------------------LOGIN----------------------------------------*/

a.change-acc{
	padding: 4px;
}
a.change-acc:hover{
	text-decoration: underline;
	padding: 4px;
}


/*------------------------------HEADER--------------------------------------*/


.main-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #000;
	width: 100%;
	position: fixed;
	height: 48px;
	z-index: 6;
	color: #fff;
}
.main-title {
	margin: 0;
}
.phone {
	font-size: 16px;
}
.phone-link {
	color: #fff;
}
.phone-link:hover {
	color: #cecece;
}
.logout {
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 4px;
}
.logout:hover {
	color: #fff;
	background: #1b1b1b;
}
.to_admin {
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 4px;
	background: #004d06;
}
.to_admin:hover {
	color: #fff;
	background: #003805;
}


/*------------------------------БОКОВАЯ ПАНЕЛЬ----------------------------------*/


.nav-box {
	width: 14%;
	display: flex;
	flex-direction: column;
	color: #fff;
	text-decoration: none;
	position: fixed;
	z-index: 5;
	margin-top: 48px;
}
.nav-box-card {
	background: #fff;
	padding: 1rem;
	padding-left: 3.5rem;
	border: none;
}
.nav-box-collapse-link {
	margin-bottom: 8px;
}
.nav-box-collapse-link:hover{
	color: #28a745;
}

.logo {
	display: flex;
	height: 60px;
	color: #000;
	font-size: 24px;
	align-items: center;
	justify-content: center;
	font-family: "Evolventa-Bold";
	margin-top: 20px;
	margin-bottom: 20px;
}
.nav-2 {
	background: #fff;
	height: 60px;
}
.nav-3 {
	background: #fff;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	padding-left: 12%;
	font-size: 18px;
	align-items: center;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #000;
}
.nav-3:hover {
	background-color: #dfdfdf;
}
.nav-active {
	background-color: #cecece;
}
.nav-4 {
	height: 32px;
	display: flex;
	justify-content: flex-start;
	padding-left: 12%;
	font-size: 18px;
	align-items: center;
	text-decoration: none;
	color: #000;
}
.nav-4:hover {
	color: #28a745;
}
.nav-3 img, .nav-4 img {
	margin-right: 15%;
}
.nav-5 {
	height: 100vh;
}
.sidebar-active {
	color: #28a745;
}
.main-area {
	margin-top: 48px;
	height: 100%;
}
.reg-form-title {
	margin-top: 48px;
}
.login-form {
	width: 320px;
	margin-top: 54px;
}





/*-------------------USERS---------------------------------------*/


.btn-add-user {
	height: 34px!important;
}
.users-list {
	flex-wrap: wrap;
}
.user-item {
	width: 40%;
	height: 200px;
	margin-right: 1%;
	margin-bottom: 20px;
	background-color: #ececec;
	border: solid 1px #b0b0b0;
}
.user-btn-edit:hover {
	color: #8d8d8d;
}
.user_banned {
	background-color: #ff8d00;
}





/*-----------------------EDIT-------------------*/



.edit {
	border-bottom: 2px solid #ff0000;
}
.edit-pen {
	font-size: 20px!important;
	border-width: 2px!important;
}
.edit-pen:hover {
	background-color: #e4e4e4!important;
	color: #6d0000!important;
}
.edit button {
	border-width: 2px;	
}
.edit-input-current{
	color: #000;
	font-size: 14px;
}
